body {
background-color: #F36A24;
}
.top-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: blue;
}

.logo {
  margin: 10px 0 5px;
  display: flex;
  flex-direction: column;
  al
  align-content: center;
}

.middle-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: blue;
  padding-bottom: 50px;
}

.level-score {
  order: 1;
  margin-top: 10px;
  height: 500px;
  width: 200px;
  background-color: white;
}

canvas {
  margin: 10px 5px;
  order: 2;
}

.instructions {
  order: 3;
  margin-top: 10px;
  height: 500px;
  width: 200px;
  background-color: white;
}
